/*  */
.navbar {
  text-align:center;
  margin-top:10px;}
  .navbarlink{
  text-decoration: none;
  color: #E0C097;
  font-weight: bold;
   margin right:20px;
}
/*Added the Hover effect so it could change color when hovered and spaced it away from the margin and used my neutral color  */
.navbarlink:hover {
  text-decoration: underline;      
}
/* the body is dark brown */
body {
    background-color:#2D2424;
  
}
/*Cut an image and aligned it to the righgt and and gave it a space from the right with 20 px */
.logo-container{ text-align:right; margin-top: 20 px;}
{.logo-container img{width :200px;height: auto;
}
/*I put them side by side with video row without it, the videos would be like vertical and used flexbox style which is the wrap*/
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}
/* Instead of typing margin left or bottom:70% i just put a form  in the css and in the html so it linked it to this css*/
.form-input {
    display: block;
    margin-left: 70%;
    margin-bottom: 10px;
}
.logo-container {
  flex: 1;
  text-align: left;
}

















